body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Tourney', cursive;
    color: green;
    font-size: 2.5em;
}

h2{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    text-align: right;
    margin-block-end: 0;
    margin-block-start: 0;
    color: green;
}